<div class="postItem">
  <div class="postImage" style="background: url('{{post.image}}') no-repeat; backgroud-size: cover;">
  </div>
  <h2>{{post.title}}</h2>
  <h3>{{post.author}}</h3>
  {{edit-post post=post editPost="editPost"}}
  <button {{action 'delete' post}}>Delete Post</button>
  <hr>
</div>
