{{#liquid-if editFormShow class='fade-demo'}}
<div class="editPostSection">
  <h2>Edit Post</h2>
  <form class="editPostForm">
    <div class="form-group">
      <label for="title">Post Title</label>
      {{input value=post.title id="title" placeholder=post.title}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=post.author id="author" placeholder=post.author}}
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      {{input value=post.category.name id="category" placeholder=post.category.name}}
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=post.image id="image" placeholder=post.image}}
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      {{textarea value=post.summary id="summary" placeholder=post.summary}}
    </div>
    <div class="form-group">
      <label for="content">Main Content</label>
      {{textarea value=post.content id="content" placeholder=post.content}}
    </div>
    <div class="form-group">
      <label for="date">Event Date</label>
      {{input value=post.date id="date" placeholder=post.date}}
    </div>
    <button {{action 'editPost' post}}>Save Edits</button>
  </form>
  <button{{action 'toggleEdit'}}>Cancel</button>
</div>
{{else}}
  <div class="editPostSection">
    <button {{action 'toggleEdit'}}>Edit Post</button>
  </div>
{{/liquid-if}}
