{{#liquid-if showForm class='fade-demo'}}
<div class="createPostSection">
  <h2>Add New Post</h2>
  <form class="createPostForm">
    <div class="form-group">
      <label for="title">Post Title</label>
      {{input value=title id="title"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      {{textarea value=summary id="summary"}}
    </div>
    <div class="form-group">
      <label for="content">Main Content</label>
      {{textarea value=content id="content"}}
    </div>
    <div class="form-group">
      <label for="date">Event Date</label>
      {{input value=date id="date"}}
    </div>
    <button {{action 'savePost'}}>Create Post</button>
  </form>
  <button{{action 'toggleDetail'}}>Cancel</button>
</div>
{{else}}
  <div class="createPostSection">
    <button class="addNew" {{action 'toggleDetail'}}>Add New Article</button>
  </div>
{{/liquid-if}}
