<!-- {{#each model.posts as |post|}}
  {{admin-post-tile post=post destroyPost="destroyPost" editPost="editPost"}}
{{/each}}

{{new-post savePost="savePost"}} -->

<h1>Admin</h1>
<h3 class="view">View, edit, and delete posts in each category.</h3>

<div class="categoryList">
  {{#each model as |category|}}
  <div class="categoryItem">
    {{#link-to 'category' category.id}}{{category.name}}{{/link-to}}
    {{edit-category category=category editCategory="editCategory"}}
  </div>
  {{/each}}
</div>


{{new-category category=category saveCategory="saveCategory"}}
