<h1>Welcome to the {{model.name}} Category Page</h1>

{{category-tile category=model destroyCategory="destroyCategory"}}

{{new-post savePost="savePost"}}

<!-- {{#each model.posts as |post|}}
  {{admin-post-tile post=post destroyPost="destroyPost" editPost="editPost"}}
{{/each}}

{{new-post savePost="savePost"}} -->
